{% extends "base.html" %}

{% block content %}
<h1>S'inscrire</h1>
<form method="POST">
    {% csrf_token %}
    <label for="email">Email :</label>
    <input type="email" name="email" id="email" required>
    
    <label for="password">Mot de passe :</label>
    <input type="password" name="password" id="password" required>
    
    <label for="first_name">Prénom :</label>
    <input type="text" name="first_name" id="first_name">
    
    <label for="last_name">Nom :</label>
    <input type="text" name="last_name" id="last_name">
    
    <label for="date_birth">Date de naissance :</label>
    <input type="date" name="date_birth" id="date_birth">

    <h2>Adresse de livraison</h2>
    <label for="name">Nom :</label>
    <input type="text" name="name" id="name">

    <label for="address_1">Adresse 1 :</label>
    <input type="text" name="address_1" id="address_1" required>

    <label for="address_2">Adresse 2 :</label>
    <input type="text" name="address_2" id="address_2">

    <label for="city">Ville :</label>
    <input type="text" name="city" id="city" required>

    <label for="district">Région :</label>
    <input type="text" name="district" id="district" required>

    <label for="zip_code">Code postal :</label>
    <input type="text" name="zip_code" id="zip_code" required>

    <button type="submit">S'inscrire</button>
</form>
{% endblock content %}